/*
Theme Name: Twenty Thirteen
Theme URI: http://wordpress.org/themes/twentythirteen
Author: the WordPress team
Author URI: http://wordpress.org/
Description: The 2013 theme for WordPress takes us back to the blog, featuring a full range of post formats, each displayed beautifully in their own unique way. Design details abound, starting with a vibrant color scheme and matching header images, beautiful typography and icons, and a flexible layout that looks great on any device, big or small.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: twentythirteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #212529;
  letter-spacing: 0;
  font-size: 1.6em;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  background-color: #f8f9fa;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

p {
  margin-bottom: 10px;
}

a {
  color: #212529;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

header,
main,
footer {
  min-width: 100%;
  display: flex;
  justify-content: center;
}

footer {
  margin-top: auto;
}

figure {
  margin: 0;
}

/*
YUI 3.18.1 (build f7e7bcb)
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/
html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%;
}

legend {
  color: #000;
}

#yui3-css-stamp.cssreset {
  display: none;
}

.border-bottom-yellow {
  border-bottom: solid 10px #ebb94d;
}

.bgwhite {
  background: white;
}

.brackets {
  position: relative;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 40px 0;
  width: 860px;
}

.brackets:before,
.brackets:after {
  position: absolute;
  width: 45px;
  height: 45px;
  content: "";
}

.brackets:before {
  top: 0;
  left: 0;
  border-top: solid 4px #ebb94d;
  border-left: solid 4px #ebb94d;
}

.brackets:after {
  right: 0;
  bottom: 0;
  border-right: solid 4px #ebb94d;
  border-bottom: solid 4px #ebb94d;
}

.color-orange {
  color: #ebb94d;
}

.fw-bold {
  font-weight: bold;
}

.inner {
  max-width: 1110px;
  width: 100%;
  height: 100%;
  padding: 0 15px;
}

.header {
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  margin-top: calc(80px + 56px);
  padding-top: 16px;
  text-align: center;
}

.footer {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 63px;
  background-color: #fff;
}

.readmore {
  display: inline-block;
  width: 120px;
  height: 60px;
  border: 1px solid #707070;
  text-align: center;
  line-height: 60px;
}

.underline:after {
  width: 100px;
  border-bottom: 1px solid #17a2b8;
  display: block;
  content: "";
  margin: 16.5px auto;
}

.ham {
  width: 54px;
  height: 37px;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.ham i {
  border-bottom: 2px solid #707070;
  width: 30px;
  height: 0;
  transition: all 0.5s;
}

.ham-open i:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.ham-open i:nth-child(2) {
  width: 0;
}

.ham-open i:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.footer-nav {
  text-align: left;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .footer-nav {
    margin-bottom: 0;
  }
}

.footer-nav-inner {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer-nav-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-nav-entry {
  font-size: 2.4rem;
  color: #212529;
}

.footer-nav-entry:after {
  margin: 16.5px 0;
}

.footer-nav._about {
  width: 100%;
}

.footer-nav-txt {
  width: 80%;
}

.footer-nav._portfolio {
  width: 100%;
}

.footer-nav-li {
  width: 80%;
}

.footer-nav-item {
  border-top: 1px solid #707070;
}

.footer-nav-item:last-child {
  border-bottom: 1px solid #707070;
}

.footer-nav-item a {
  line-height: 48px;
}

.footer-nav._twitter {
  width: 100%;
}

.footer-copy-wrap {
  background-color: #343a40;
  width: 100%;
  height: 56px;
}

.footer-copy-wrap small {
  color: #fff;
  line-height: 56px;
}

.header-logo {
  color: #707070;
  font-size: 4rem;
  font-weight: 700;
  line-height: 80px;
}

.header-logo-wrap {
  width: 100%;
}

.header-logo-wrap {
  background-color: #fff;
}

.header-logo-inner {
  height: 80px;
  margin: 0 auto;
}

.header-nav {
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-nav-wrap {
  background-color: #343a40;
  width: 100%;
}

.header-nav-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header-nav-li:not(:first-child) {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-nav-li:not(:first-child) {
    display: inline-block;
  }
}

.header-nav-li:not(:last-child) {
  margin-right: 33px;
}

.header-nav-li a {
  color: #fff;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .header-ham {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .main-inner {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: minmax(65%, 730px) minmax(30%, 350px);
  }
}

.pickup-wrap {
  width: 100%;
  height: auto;
  margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .pickup-wrap {
    grid-row: 1/2;
    grid-column: 1/3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.article-wrap {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .article-wrap {
    grid-row: 2/3;
    grid-column: 1/2;
    padding-right: 15px;
  }
}

.sidebar {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .sidebar {
    grid-row: 2/3;
    grid-column: 2/3;
    padding-left: 15px;
  }
}

.article {
  background-color: #fff;
  padding: 37px 0 48px 0;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-date,
.article-ttl,
.article-cat,
.article-tmb,
.article-txt,
.article-link {
  display: block;
}

.article-date {
  color: #707070;
  margin-bottom: 24px;
}

.article-ttl {
  font-size: 3.2rem;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 24px;
  font-weight: 700;
}

.article-cat {
  color: #007bff;
  margin-bottom: 24px;
}

.article-tmb {
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
  width: 100%;
}

.article-tmb:before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  padding-top: calc(410 / 730 * 100%);
}

.article-tmb img {
  position: absolute;
  top: 0;
  left: 0;
}

.article-txt {
  color: #6c757d;
  margin-bottom: 24px;
  width: 90%;
  text-align: left;
}

.article-link {
  color: #707070;
}

.pickup {
  width: 100%;
  height: auto;
  padding: 16px 0;
  background-color: #fff;
}

.pickup:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .pickup:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .pickup {
    width: 100%;
  }
}

.pickup-tmb {
  position: relative;
  overflow: hidden;
}

.pickup-tmb:before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  padding-top: calc(200 / 350 * 100%);
}

.pickup-tmb img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.pickup-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
}

.pickup-ttl {
  font-size: 2.4rem;
  width: 80%;
  margin-bottom: 16px;
}

.pickup-ttl {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.pickup-link {
  margin: 0 auto;
}

.sidebar-profile {
  background-color: #fff;
  padding: 53px 0 48px 0;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-profile-tmb {
  position: relative;
  width: 70%;
  margin-bottom: 8px;
}

.sidebar-profile-tmb:before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  padding-top: calc(1 / 1 * 100%);
}

.sidebar-profile-tmb img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.sidebar-profile-name {
  font-size: 2.4rem;
  font-weight: 700;
}

.sidebar-profile-txt {
  font-size: 2.4rem;
  width: 95%;
  line-height: 1;
}

.sidebar-search-wrap {
  background-color: #fff;
  padding: 48px 0;
  margin-bottom: 48px;
  font-size: 2.4rem;
}

.sidebar-search-wrap input {
  width: 90%;
  height: 38px;
}

.sidebar-article-wrap {
  background-color: #fff;
  padding: 48px 0;
}

.sidebar-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.sidebar-article:not(:last-child) {
  margin-bottom: 48px;
}

.sidebar-article-entry {
  color: #707070;
  font-size: 2.4rem;
}

.sidebar-article-tmb {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 16px;
}

.sidebar-article-tmb:before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  padding-top: calc(153 / 320 * 100%);
}

.sidebar-article-tmb img {
  position: absolute;
  top: 0;
  left: 0;
}

.sidebar-article-ttl {
  width: 95%;
}
