@mixin flex($fd: null, $jc: null, $ai: null, $ac: null, $as: null, $fw: null, $or: null, $fg: null, $fs: null, $fb: null) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  align-content: $ac;
  align-self: $as;
  flex-wrap: $fw;
  order: $or;
  flex-grow: $fg;
  flex-shrink: $fs;
  $flex-basis: $fb;
}
