$mq-sp: 480px;
$mq-tab: 768px;
$mq-pc: 1190px;
$breakpoints: (
  "tabpc": "screen and (min-width: #{$mq-tab})",
) !default;

@mixin mq($breakpoint: tabpc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin tab($bool: false) {
  @if $bool {
    @media screen and (max-width: #{$mq-tab}) {
      & {
        @content;
      }
    }
  } @else {
    @include mq(tab) {
      & {
        @content;
      }
    }
  }
}
@mixin sp() {
  @include mq(sp) {
    & {
      @content;
    }
  }
}

// フォントサイズのみ
@mixin fs($pc: null, $tab: null, $sp: null) {
  & {
    font-size: $pc;
  }
  @include mq(tab) {
    & {
      font-size: $tab !important;
    }
  }

  @include mq(sp) {
    & {
      font-size: $sp !important;
    }
  }
}

@mixin emq($pro: null, $pc: null, $tab: null, $sp: null) {
  @include mq(tab) {
    & {
      #{$pro}: $tab !important;
    }
  }

  @include mq(sp) {
    & {
      #{$pro}: $sp !important;
    }
  }

  & {
    #{$pro}: $pc;
  }
}
